huggingface_hub
python-dotenv 
langchain-community 
langchain-huggingface 
langchain-text-splitters
langchain-groq 
faiss-gpu 
PyMuPDF 
unstructured 
transformers 
sentence_transformers
unstructured[pdf] 
gtts 
poppler-utils
pytesseract
uuid
langdetect
PyPDF2
